@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: Medium;
  }


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

*{
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

html,
body,
#root
{ 
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}



/* Image Gallery */

.container {
  background: #171720;
}

.main {
  height: 400px;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 70px 100px;
}

.marker {
  color: white;
  position: absolute;
  top: 20px;
  left: 110px;
  font-family: monospace;
}

.works-gallery-image {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center center;
  transition: all .3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.5);
}

.navbar{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 175px;
  display: flex;
  justify-content: space-around;
}

.dot{
  width: 5px;
  height: 5px;
  border-radius: 50%; /* this will make the div into a circle shape */
  background-color: grey;
  opacity: 0.5;
  transition: all .3s ease-in-out;
}

.active {
  background-color: white;
  opacity: 1;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    height: 262px;
    background-color: black;
    width: 502px;
    transition: all 0.4s ease;
}


.text{
  background-color: #04AA6D;
  color: white;
  font-size: 12px;
  text-align: center;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%
}


.circle{
  position:absolute;
  width:70px;
  height:70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.circle:before {
  content: "View\AProject";
  white-space: pre; /* to preserve line breaks */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px; /* adjust the font size */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:before{
  border-radius: 50%; /* makes the div circular */
  background-color: #04AA6D; /* add background color */
  width:100%;
  height:100%;
  box-sizing:border-box;
  color: white;
}




.section-titles {
  position: absolute;
  top: 10%;
  /* left: 8%; */
  color: white;
  font-size: 12px;
}

.modal{
  height: 80%;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  display: none;
  z-index: 10;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%,
  rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 25%,
  rgba(255, 255, 255, 1) 39%, rgba(255, 255, 255, 1) 50%,
  rgba(255, 255, 255, 1) 50%, rgba(9, 142, 208, 1) 50%, 
  rgba(9, 142, 208, 1) 76%, rgba(9, 142, 208, 1) 91%, 
  rgba(9, 142, 208, 1) 100%);
  overflow: hidden;
} 

.modal h1{
  padding: 2%;
  color: white;
}

.work-flex-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work-modal-div{
    width: 50%;
    height: 600px;
    overflow-y: scroll;
}

.work-modal-images{
  width: 100%;
}

.works-modal-title{
  width: 50%;
  padding: 2%;
  height: 600px;
  overflow-y: scroll;
}

.works-close-button {
  border-radius: 50%;
  padding: 0.5em;
  width: 45px;
  height: 45px;
  border: 2px solid white;
  color: #098DD0;
  position: absolute;
  background: orange;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}


.works-close-button:hover {
  border: 2px solid white;
  background-color: #098DD0;
  box-shadow: 0px 2px 10px 1px rgba(10, 156, 201, 0.5);
}

.close{
  color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 20px;
}
